<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--或：<properties resource="classpath*:jdbc.properties"/>-->
    <properties resource="jdbc.properties"/>
    
    <typeAliases>
        <package name="com.fz.mybatis.domain"/>
        <!--<typeAlias type="com.fz.mybatis.domain.UserDo" alias="UserDo"/>-->
    </typeAliases>
    
    <environments default="development">
        <environment id="development">
            <!--jdbc 事物-->
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--<mappers>
        &lt;!&ndash;映射文件&ndash;&gt;
        <mapper resource="mapper/userMapper.xml"/>
        &lt;!&ndash;<package name="com.fz.mybatis.mapper"/>&ndash;&gt;
    </mappers>-->

    <!--重要 1.当使用扫描的时候，扫描的是xml，而不是Mapper接口-->
    <!--重要 2.当单独扫描Mapper接口时，且Mapper接口与xml不在同一目录时，会报错-->
    <!--重要 3.当单独扫描xml映射文件时，则是正确的，因我们配置了namespace就是Mapper接口的全路径类名-->
    <mappers>
        <!--<mapper resource="mapper/userMapper.xml"/>-->
        <mapper resource="mapper1/UserMapper.xml"/>
        <!-- 通过mapper元素的resource属性可以指定一个相对于类路径的Mapper.xml文件 -->
        <!--<mapper resource="com/fengze/mybatis/mapper/UserMapper.xml"/>-->
        <!-- 通过package元素将会把指定包下面的所有Mapper接口进行注册 -->
        <!--<package name="com.fengze.mybatis.mapper"/>-->
        <!-- 通过mapper元素的url属性可以指定一个通过URL请求道的Mapper.xml文件 -->
        <!--<mapper url="file:///E:/UserMapper.xml"/>-->
        <!-- 通过mapper元素的class属性可以指定一个Mapper接口进行注册 -->
        <mapper class="com.fz.mybatis.mapper.UserMapper"/>-->
    </mappers>
</configuration>