<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间 （姓）-->
<mapper namespace="com.fz.mybatis.mapper.UserMapper">
    <!--                        参数                  结果          -->
    <select id="queryById" parameterType="UserDo" resultType="UserDo">
        SELECT USER_ID USERID,USER_NAME USERNAME,PASS_WORD PASSWORD FROM TB_USER where USER_ID=#{userId}
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultType="UserDo">
        SELECT USER_ID USERID,USER_NAME USERNAME,PASS_WORD PASSWORD FROM TB_USER where USER_ID=#{id}
    </select>

    <select id="queryByList" parameterType="UserDo" resultType="UserDo">
        SELECT USER_ID USERID,USER_NAME USERNAME,PASS_WORD PASSWORD,ADDRESS FROM TB_USER where ADDRESS like'%${address}%'
    </select>

    <insert id="addUser" parameterType="UserDo">
        INSERT INTO TB_USER(USER_NAME,PASS_WORD,REAL_NAME,EMAIL,CELL_PHONE,ADDRESS,USER_TYPE)
        VALUES (#{userName},#{password},#{realName},#{email},#{cellphone},#{address},#{userType})
    </insert>

    <update id="delUser" parameterType="UserDo">
        DELETE FROM TB_USER WHERE USER_ID=#{userId}
    </update>

    <update id="modifyUser" parameterType="UserDo">
        UPDATE SET USER_ID=#{userId} WHERE USER_ID=#{userId}
    </update>

    <!--  如果有>=这种符号 需要在语句外部加  <![CDATA[   sql语句   ]]>括起来  -->
    <delete id="delUser" parameterType="UserDo">
        <![CDATA[
           DELETE FROM TB_USER WHERE USER_ID=#{userId}
        ]]>
    </delete>
</mapper>